 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>关于</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>长岛悠然渔舍，是位于长岛县南长山岛后沟村49号的渔家小院，悠然渔舍所处的地理位置十分优越，交通便利，既可以享受安静淳朴的渔家生活，周边的生活设施又很完善，银行、邮局、政府、医院、超市、步行街、海鲜市场、景区均可以步行到达，距海边步行10分钟即可到达</p>
                </div>
                <div class="col-lg-4">
                  <p>悠然渔舍2014年重装开业，秉承回归自然的理念，房间不大，布置不奢，但力图精致，我们不贴廉价的毒壁纸，没有浮夸的装修，简洁，干净，有品味，做原汁原味的长岛新渔家。悠然渔舍共有10个房间，共24个床位，以二人间，三人间及渔家炕为主，客房均配有全新32寸液晶电视、空调、无线WIFI，独立卫生间以及舒适的恒温淋浴，杜绝忽冷忽热和意外烫伤，全新卧具全部采用四星级酒店专用的贡缎及全棉材质，保证您的舒适。</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </section>
